<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1><i>SAWAN WARKAR</i></h1>

    </header>
    <a href="//24timezones.com/current_time/india_gulbarga_clock.php" style="text-decoration: none" class="clock24" id="tz24-1730521163-c213032-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMCIsInNob3dzZWNvbmRzIjoiMSIsInNob3d0aW1lem9uZSI6IjEiLCJ0eXBlIjoiZCIsImxhbmciOiJlbiJ9" title="actual time Gulbarga" target="_blank" rel="nofollow">Current time in Gulbarga <script type="text/javascript" src="//w.24timezones.com/l.js" async></script></a>
    {% if temperature and description %}
        <p>Temperature: {{ temperature }}°C</p>
        <p>Weather: {{ description }}</p>
    {% else %}
        <p>Weather information is currently unavailable.</p>
    {% endif %}
    <br>
    <a href="http://127.0.0.1:5000/about" > about me </a>
    <section>
        <h2>About Me</h2>
        <p>Computer Engineer</p>
    </section>
    <footer>
        <p>&copy; 2024 @SAWANWARKAR</p>
    </footer>
</body>
</html>
